* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #333;
    color: #fff;
}

.logo {
    color: #fff;
    text-decoration: none;
}

.logo h1 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 10px;
}

nav {
    margin-right: 10px;
}

.nav {
    display: flex;
    list-style: none;

}

.nav li a {
    text-decoration: none;
    margin: 0 10px;
    padding: 0.5rem 5px;
    color: #fafafa;
    transition: all 0.2s ease;
}

.nav li a:hover {
    box-shadow: 0 2px #fff;
}

.nav .auth {
    display: flex;
}

.nav .auth li a:hover {
    box-shadow: none;
}

.hero {
    background: url('../img/hero.png') no-repeat center center/cover;
    height: 92vh;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    background: #000000bb;
    width: 100%;
    height: 92vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content h1 {
    color: #fff;
}

.hero-content {
    color: #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    z-index: 2;
    margin: auto;
    max-width: 900px;
}

.content-page {
    background: url('../img/hero.png') no-repeat center center/cover;
    height: 15vh;
    position: relative;
}

.content-page::before {
    content: '';
    position: absolute;
    background: #000000bb;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.title {
    font-size: 2.5rem;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 2;
    margin: auto;
    max-width: 900px;
}

.page-content {
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto;
    max-width: 1100px;
}

.reg_button {
    display: inline;
    margin: 5%;
    padding: 2%;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.6em;
}

.reg_button a {
    text-decoration: none;
    color: #000;
}

.reg_button a:hover {
    color: #1f827d;
}