/* Utility Classes */
.button-light {
    border: 3px solid #fafafa;
    border-radius: 40px;
    padding: 10px 10px !important;
    color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button-light:hover {
    background-color: #fafafa;
    color: #000;
}

.button-dark {
    border: 3px solid #000;
    border-radius: 40px;
    padding: 10px 10px !important;
    color: #000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button-dark:hover {
    background-color: #000;
    color: #fff;
}

.color-primary {
    color: #000;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group .input-left {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #777;
}

.input-group .input-center {
    border-radius: 0 0 0 0;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}

.input-group .input-right {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #777;
}

.input-group .input-group-label {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 0;
    margin-right: 10px;
}

.auth-form {
    padding: 50px;
    background-color: #777;
    border-radius: 20px;
    font-size: 1.2rem;
}

.form-label {
    display: block;
    color: #fff;
}

.form-input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.form-button {
    display: block;
    width: 100%;
}
/* End of utility classes */
