/* Utility Classes */
.button-light {
    border: 3px solid #fafafa;
    border-radius: 40px;
    padding: 10px 10px !important;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.button-light:hover {
    background-color: #fafafa;
    color: #000;
}

.button-dark {
    border: 3px solid #000;
    border-radius: 40px;
    padding: 10px 10px !important;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.button-dark:hover {
    background-color: #000;
    color: #fff;
}

.color-primary {
    color: #000;
}
/* End of utility classes */
